[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = ">=3.7.1,<4.0.0"

[packages]
pytest_cobra = {editable = true,path = "."}

[requires]
python_version = "3.6"
